<div style="display:block; position:absolute;  top:10px; right:10px; width:500px; height:100%; 
 overflow-y:hidden; background:ghostwhite;">
 <p style='background-color:black; height:50px;  padding-top:10px; padding-left:40px;  color:white;'> My Cart  
     <span routerLink="/" style='position:absolute; right:20px; background-color:black; color:white;'>X</span></p>
 <div style='background-color:white'>
   <p style=' padding-left:30px; padding-top:10px;'>Sub Total <span style='position:absolute; right:20px;'>&#8377;  0</span></p>
   <p style='padding-left:30px;'>Delivery Charges<span style='position:absolute; right:20px;'>&#8377;  0</span></p>
   <hr>
   <p style='padding-left:30px; padding-bottom:10px;'>Your Total Savings<span style='position:absolute; right:20px;'>&#8377; 0</span></p>
   <button style='width:80%; margin-left:10%; height:50px; background-color:blue; position:absolute; bottom:140px; border:solid blue; '><pre style='color:white; font-size:18px;  padding-top:10px;'>Last Minute Buys </pre></button>
 </div>
 <div style='position:absolute; bottom:80px; left:90px;'>
   <p style='text-align:center;'>promo code can be applied on payment page</p>
 </div>
 <button style='width:80%; margin-left:10%; height:50px; background-color:tomato; position:absolute; bottom:20px; border:solid tomato; '><pre style='color:white; font-size:18px;  padding-top:10px;'>Proceed To Checkout              > </pre>
 </button>
</div>
