<div class="s2">
 <p class="p1"> My Cart  
     <span routerLink="/" class="ss1">X</span></p>
 <div class="ss2">
   <p class="p3">Sub Total <span class="p4">&#8377;  0</span></p>
   <p class="p5">Delivery Charges<span class="p6">&#8377;  0</span></p>
   <hr>
   <p class="p2">Your Total Savings<span class="p8">&#8377; 0</span></p>
   <button class="b3"><pre class="b4">Last Minute Buys </pre></button>
 </div>
 <div class="p9">
   <p class="p7">promo code can be applied on payment page</p>
 </div>
 <button class="b1"><pre class="b2">Proceed To Checkout              > </pre>
 </button>
</div>
