<section id=product>
  <div id='blur'>
 <section id="service" class="services-area gray-bg pad-top" >
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-lg-3 col-md-6 col-sm-6" >
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team" >
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
                          <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                          <h6 class="t2">Grofers Mother's Choice Besan</h6>
                          <p class="mt-20 t1">500g</p>
             <div class="btn-group b1" >
               <button class="b2" onclick=" toggle()">Add

               </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block  bottom-part">
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1" >
               <button class="b2" onclick="topFunction()"> <a routerLink="/Popup" class="pop">   Add </a>  </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con">
               <h4 class="services-title t1" ><span >&#8377;</span>47<del class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b3" style='width:200px;'>
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con">
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2">Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1">
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
           </div> <!-- row -->
       </div> <!-- container -->

  </section>
  <section id="service" class="services-area gray-bg pad-top" >
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-lg-3 col-md-6 col-sm-6" >
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team" >
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1">500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con">
               <h4 class="services-title t1" ><span >&#8377;</span>47<del class="del-style">&#8377;86</del></h4>
                           <h6 class=" t2">Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1">
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block" style='position: absolute;top: 20px;left: 20px;height:35px;width: 100px;background-color: green;color: white;border-radius: 10px; padding-top: 10px;'>
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class=" t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1">
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1">
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
           </div> <!-- row -->
       </div> <!-- container -->

  </section>
  <section id="service" class="services-area gray-bg pad-top" >
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-lg-3 col-md-6 col-sm-6" >
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team" >
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con " >
               <h4 class="services-title t1"><span >&#8377;</span>47<del class="del-style">&#8377;86</del></h4>
                           <h6 class="t2">Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group  b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1"><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1">500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del class="del-style">&#8377;86</del></h4>
                           <h6 class=" t2">Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con">
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2">Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
           </div> <!-- row -->
       </div> <!-- container -->

  </section>
  <section id="service" class="services-area gray-bg pad-top" >
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-lg-3 col-md-6 col-sm-6" >
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team" >
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con">
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1">
               <button class="b2">    Add   </button>
               <button class="b3">+ </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1">500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con">
               <h4 class="services-title t1"><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1">500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1">500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
           </div> <!-- row -->
       </div> <!-- container -->

  </section>
  <section id="service" class="services-area gray-bg pad-top" >
       <div class="container">
           <div class="row justify-content-center">
               <div class="col-lg-3 col-md-6 col-sm-6" >
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team" >
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del  class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1">500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part" >
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con" >
               <h4 class="services-title t1" ><span >&#8377;</span>47<del class="del-style">&#8377;86</del></h4>
                           <h6 class="t2">Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part">
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con">
               <h4 class="services-title t1" ><span >&#8377;</span>47<del class="del-style">&#8377;86</del></h4>
                           <h6 class="t2">Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1" >500g</p>
             <div class="btn-group b1" >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6">
                   <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                       <div class="services-icon">
                           <img src="assets/images/product/product1.jpg" alt="Team">
             <div class="text-block bottom-part">
               <h6>45%OFF</h6>

               </div>
                       </div>
                       <div class="services-content con">
               <h4 class="services-title t1" ><span >&#8377;</span>47<del class="del-style">&#8377;86</del></h4>
                           <h6 class="t2" >Grofers Mother's Choice Besan</h6>
                           <p class="mt-20 t1">500g</p>
             <div class="btn-group b1"  >
               <button class="b2">    Add   </button>
               <button class="b3"> + </button>
             </div>
                       </div>
                   </div> <!-- single services -->
               </div>
           </div> <!-- row -->
       </div> <!-- container -->

  </section>
  </div>

<div id="popup" class="pop-up">
 <p class="s1"> My Cart  <span onclick="toggle2()" class="s2">X</span></p>
 <div class="p9">
   <p class="p1">Sub Total <span class="p2">&#8377;  0</span></p>
   <p class="p3">Delivery Charges<span class="p4">&#8377;  0</span></p>
   <hr>
   <p class="p5">Your Total Savings<span class="p6">&#8377; 0</span></p>
   <button class="b6"><pre class="b7">Last Minute Buys </pre></button>
 </div>
 <div class="p7">
   <p class="p8">promo code can be applied on payment page</p>
 </div>
 <button class="b4"><pre class="b5">Proceed To Checkout              > </pre>
 </button>
</div>
</section>
